<html lang='en'>
  {{> page-head }}
  <body>
		<div id="layout-wrapper">
			{{> header }}
			{{> sidebar  }}
			<main class="main-content">
				<div class="page-content">
				{{{body}}}
				</div>

				{{> footer }}
			</main>
		</div>
		{{#> scripts-block }}

		{{> page-scripts }}

		{{/ scripts-block }}
  </body>
</html>
