<html lang='en'>
  {{> page-head }}
  <body>
		<div id="layout-wrapper">
			{{> header }}
			{{> sidebar  }}
			<main class="main-content">

				{{{body}}}

				{{> footer }}
			</main>
		</div>
		{{> page-scripts }}
  </body>
</html>
