<header id='page-topbar'>
    <div class='navbar-header'>
        <h1 class='my-2'>{{data}}</h1>

        <div class='d-flex align-items-center'>
            <div class='dropdown d-inline-block ml-2'>
                <button
                    type='button'
                    class='btn header-item waves-effect'
                    id='page-header-user-dropdown'
                    data-toggle='dropdown'
                    aria-haspopup='true'
                    aria-expanded='false'
                >
                    <img
                        class='rounded-circle header-profile-user'
                        src='/images/users/avatar-3.jpg'
                        alt='Header Avatar'
                    />
                    <span class='d-none d-sm-inline-block ml-1'>Joshua D.</span>
                    <i
                        class='mdi mdi-chevron-down d-none d-sm-inline-block'
                    ></i>
                </button>
                <div class='dropdown-menu dropdown-menu-right'>
                    <a
                        class='dropdown-item d-flex align-items-center justify-content-between'
                        href='javascript:void(0)'
                    >
                        <span>Profile</span>
                        <span>
                            <span
                                class='badge badge-pill badge-warning'
                            >1</span>
                        </span>
                    </a>
                    <a
                        class='dropdown-item d-flex align-items-center justify-content-between'
                        href='javascript:void(0)'
                    >
                        Settings
                    </a>
                    <a
                        class='dropdown-item d-flex align-items-center justify-content-between'
                        href='javascript:void(0)'
                    >
                        <span>Log Out</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>