<aside class='vertical-menu'>
    <div data-simplebar class='h-100'>
        <div class='navbar-brand-box'>
            <a href='/' class='logo'>
                INSTADROP
            </a>
        </div>

        <div id='sidebar-menu'>
            <ul class='metismenu list-unstyled' id='side-menu'>
                <li class='menu-title'>Menu</li>

                <li>
                    <a href='/' class='waves-effect'><i
                            class='bx bx-home-smile'
                        ></i>
                        <span>Dashboard</span></a>
                </li>
                <li>
                    <a href='/create-profile' class='waves-effect'>
                        <i class='bx bx-user-circle'></i>
                        <span>Create Profiles</span>
                    </a>
                </li>
                <li>
                    <a href='/create-trips' class='waves-effect'>
                        <i class='bx bx-shopping-bag'></i>
                        <span>Create Trips</span>
                    </a>
                </li>
                <li>
                    <a href='/active-trips' class='waves-effect'>
                        <i class='bx bx-analyse'></i>
                        <span>Active Trips</span>
                    </a>
                </li>
                <li>
                    <a href='/dispatcher-list' class='waves-effect'>
                        <i class='bx bx-cycling'></i>
                        <span>Dispatcher List</span>
                    </a>
                </li>
                <li>
                    <a href='/admin-list' class='waves-effect'>
                        <i class='bx bx-bolt-circle'></i>
                        <span>Admin List</span>
                    </a>
                </li>
                <li>
                    <a href='/store-list' class='waves-effect'>
                        <i class='bx bx-bolt-circle'></i>
                        <span>Store List</span>
                    </a>
                </li>
                <li>
                    <a href='/orders-history' class='waves-effect'>
                        <i class='bx bx-detail'></i>
                        <span>Orders History</span>
                    </a>
                </li>
                <li>
                    <a
                        href='javascript: void(0);'
                        class='has-arrow waves-effect'
                    ><i class='bx bx-map-alt'></i><span>Maps</span></a>
                    <ul class='sub-menu' aria-expanded='false'>
                        <li>
                            <a href='maps-google.html'>Google Maps</a>
                        </li>
                        <li>
                            <a href='maps-vector.html'>Vector Maps</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>