<div class='container-fluid'>
    <div class='row'>
        <div class='col-12'>
            <div style='height:50vh;' class='create-order position-relative'>
                <div class='card'>
                    <div
                        style='display: flex;justify-content: center;align-items: center;'
                        class='card-title position-relative'
                    >
                        <h4 class='text-center'>Admin List</h4>
                    </div>
                    <div class='card-body'>
                        <table
                            id='state-saving-datatable'
                            class='table activate-select dt-responsive nowrap'
                        >
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Orders Created</th>
                                    <th>CTA (Delete)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Sales Assistant</td>
                                    <td>New York</td>
                                    <td>46</td>
                                    <td>2011/12/06</td>
                                    <td><button
                                            class='btn btn-danger'
                                        >Delete</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sales Assistant</td>
                                    <td>New York</td>
                                    <td>46</td>
                                    <td>2011/12/06</td>
                                    <td><button
                                            class='btn btn-danger'
                                        >Delete</button></td>
                                </tr>
                            </tbody>
                        </table>

                        <div
                            class='modal fade bd-availableOrders-modal-lg'
                            tabindex='-1'
                            role='dialog'
                            aria-labelledby='availableOrders'
                            aria-hidden='true'
                        >
                            <div class='modal-dialog modal-lg' role='document'>
                                <div class='modal-content'>
                                    <div class='modal-header'>
                                        <h5
                                            class='modal-title text-center w-100'
                                            id='createOrders'
                                        >Create Orders</h5>
                                        <button
                                            type='button'
                                            class='close waves-effect waves-light'
                                            data-dismiss='modal'
                                            aria-label='Close'
                                        >
                                            <span
                                                aria-hidden='true'
                                            >&times;</span>
                                        </button>
                                    </div>
                                    <div class='modal-body'>
                                        <form>
                                            <div class='form-row my-3'>
                                                <div class='col-12'>
                                                    <label
                                                        for='pickupOrdrer'
                                                    >Pickup</label>
                                                    <input
                                                        type='text'
                                                        class='form-control'
                                                        id='pickupOrdrer'
                                                        placeholder='Pickup'
                                                        value=''
                                                    />
                                                </div>
                                            </div>
                                            <div class='form-row my-3'>
                                                <div class='col-12'>
                                                    <label
                                                        for='orderDestination'
                                                    > Destination</label>
                                                    <input
                                                        type='text'
                                                        class='form-control'
                                                        id='orderDestination'
                                                        placeholder='Destination'
                                                        value=''
                                                    />
                                                </div>
                                            </div>
                                            <div class='form-row my-3'>
                                                <div class='col-12'>
                                                    <label
                                                        for='numberofDestination'
                                                    >Number of Destination</label>
                                                    <input
                                                        type='text'
                                                        class='form-control'
                                                        id='numberofDestination'
                                                        placeholder='Number of Destination'
                                                        value=''
                                                    />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class='modal-footer'>
                                        <button
                                            type='button'
                                            class='btn btn-secondary waves-effect waves-light'
                                            data-dismiss='modal'
                                        >Close</button>
                                        <button
                                            type='button'
                                            class='btn btn-primary waves-effect waves-light'
                                        >Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>