<div class='container-fluid'>
    <div class='row'>
        <div class='col-12 col-lg-6'>
            <h3 class='text-center text-primary'>Create a Dispatcher Profile</h3>
            <form class='needs-validation' novalidate>
                <div class='form-group'>
                    <h5 class='text-primary'>Personal Info</h5>
                    <div class='form-row my-3'>
                        <div class='col-6 col-lg-6'>
                            <label for='firstName'>First name</label>
                            <input
                                type='text'
                                class='form-control'
                                id='firstName'
                                placeholder='First name'
                                value=''
                                required
                            />
                        </div>
                        <div class='col-6 col-lg-6'>
                            <label for='lastName'>Last name</label>
                            <input
                                type='text'
                                class='form-control'
                                id='lastName'
                                placeholder='Last name'
                                value=''
                                required
                            />
                        </div>
                    </div>
                </div>
                <div class='form-row my-3 align-items-center'>
                    <div class='col-4 col-lg-4'>
                        <label for='email'>Email</label>
                        <input
                            type='email'
                            class='form-control'
                            id='email'
                            placeholder='Email'
                            value=''
                            required
                        />
                    </div>
                    <div class='col-4 col-lg-4'>
                        <label for='phoneNumber'>Phone Number</label>
                        <input
                            type='text'
                            class='form-control'
                            id='phoneNumber'
                            placeholder='Phone Number'
                            value=''
                            required
                        />
                    </div>
                    <div class='col-4 col-lg-4'>
                        <label for='age'>Whatsapp Number</label>
                        <input
                            type='text'
                            class='form-control'
                            id='whatsappNumber'
                            placeholder='Whatsapp Number'
                            value=''
                            required
                        />
                    </div>
                </div>
                <div class='form-group'>
                    <h5 class='text-primary'>Credentials</h5>
                    <div class='form-row my-3'>
                        <div class='col-12 col-lg-4 col-md-4'>
                            <label for='address'>User Name</label>
                            <input
                                type='text'
                                class='form-control'
                                id='userName'
                                placeholder='User Name'
                                value=''
                                required
                            />
                        </div>
                        <div class='col-12 col-lg-4 col-md-4'>
                            <label for='origin'>Password</label>
                            <input
                                type='password'
                                class='form-control'
                                id='Password'
                                placeholder='Password'
                                value=''
                                required
                            />
                        </div>
                        <div class='col-12 col-lg-4 col-md-4'>
                            <label for='origin'>Confirm Password</label>
                            <input
                                type='password'
                                class='form-control'
                                id='Password'
                                placeholder='Confirm Password'
                                value=''
                                required
                            />
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <h5 class='text-primary'>Fleet Details</h5>
                    <div class='form-row my-3'>
                        <div class='col-6 col-lg-6'>
                            <label for='fleetBrand'>Fleet Brand</label>
                            <input
                                type='text'
                                class='form-control'
                                id='fleetBrand'
                                placeholder='Fleet Brand'
                                value=''
                                required
                            />
                        </div>
                        <div class='col-6 col-lg-6'>
                            <label for='fleetModel'>Fleet Model</label>
                            <input
                                type='text'
                                class='form-control'
                                id='fleetModel'
                                placeholder='Fleet Model'
                                value=''
                                required
                            />
                        </div>
                    </div>
                    <div class='form-row my-3'>
                        <div class='col-12 col-lg-4 col-md-4'>
                            <label for='fleetColor'>Fleet Color</label>
                            <input
                                type='text'
                                class='form-control'
                                id='fleetColor'
                                placeholder='Fleet Color'
                                value=''
                                required
                            />
                        </div>
                        <div class='col-12 col-lg-4 col-md-4'>
                            <label for='fleetPlateNo'>Fleet Plate Number</label>
                            <input
                                type='text'
                                class='form-control'
                                id='fleetPlateNo'
                                placeholder='Fleet Plate Number'
                                value=''
                                required
                            />
                        </div>
                        <div class='col-12 col-lg-4 col-md-4'>
                            <label for='fleetOwner'>Fleet Owner</label>
                            <input
                                type='text'
                                class='form-control'
                                id='fleetOwner'
                                placeholder='fleetOwner'
                                value=''
                                required
                            />
                        </div>
                    </div>
                </div>
                <button
                    class='btn btn-primary waves-effect waves-light'
                    type='submit'
                >Submit form</button>

            </form>
        </div>
        <div class='col-12 col-lg-6'>
            <h3 class='text-center text-primary'>Create an Admin Profile</h3>
            <form class='needs-validation' novalidate>
                <div class='form-group'>
                    <h5 class='text-primary'>Personal Info</h5>
                    <div class='form-row my-3'>
                        <div class='col-6 col-lg-6'>
                            <label for='firstName'>First name</label>
                            <input
                                type='text'
                                class='form-control'
                                id='firstName'
                                placeholder='First name'
                                value=''
                                required
                            />
                            <div class='valid-feedback'>
                                Looks good!
                            </div>
                        </div>
                        <div class='col-6 col-lg-6'>
                            <label for='lastName'>Last name</label>
                            <input
                                type='text'
                                class='form-control'
                                id='lastName'
                                placeholder='Last name'
                                value=''
                                required
                            />
                            <div class='valid-feedback'>
                                Looks good!
                            </div>
                        </div>
                    </div>
                </div>

                <div class='form-row my-3 align-items-center'>
                    <div class='col-12 col-lg-4 col-md-4'>
                        <label for='email'>Email</label>
                        <input
                            type='email'
                            class='form-control'
                            id='email'
                            placeholder='Email'
                            value=''
                            required
                        />
                    </div>
                    <div class='col-12 col-lg-4 col-md-4'>
                        <label for='phoneNumber'>Phone Number</label>
                        <input
                            type='text'
                            class='form-control'
                            id='phoneNumber'
                            placeholder='Phone Number'
                            value=''
                            required
                        />
                    </div>
                    <div class='col-12 col-lg-4 col-md-4'>
                        <label for='age'>Whatsapp Number</label>
                        <input
                            type='text'
                            class='form-control'
                            id='whatsappNumber'
                            placeholder='Whatsapp Number'
                            value=''
                            required
                        />
                    </div>
                </div>
                <div class='form-group'>
                    <h5 class='text-primary'>Credentials</h5>
                    <div class='form-row my-3'>
                        <div class='col-12 col-lg-4 col-md-4'>
                            <label for='address'>User Name</label>
                            <input
                                type='text'
                                class='form-control'
                                id='userName'
                                placeholder='User Name'
                                value=''
                                required
                            />
                            <div class='valid-feedback'>
                                Looks good!
                            </div>
                        </div>
                        <div class='col-12 col-lg-4 col-md-4'>
                            <label for='origin'>Password</label>
                            <input
                                type='password'
                                class='form-control'
                                id='Password'
                                placeholder='Password'
                                value=''
                                required
                            />
                            <div class='valid-feedback'>
                                Looks good!
                            </div>
                        </div>
                        <div class='col-12 col-lg-4 col-md-4'>
                            <label for='origin'>Confirm Password</label>
                            <input
                                type='password'
                                class='form-control'
                                id='Password'
                                placeholder='Confirm Password'
                                value=''
                                required
                            />
                            <div class='valid-feedback'>
                                Looks good!
                            </div>
                        </div>
                    </div>
                </div>
                <button
                    class='btn btn-primary waves-effect waves-light'
                    type='submit'
                >Submit form</button>
            </form>
        </div>
    </div>
</div>