<div class='container-fluid'>
    <div class='row'>
        <div class='col-12'>
            <div style='height:80vh;' class='create-order position-relative'>
                <div class='card'>
                    <div class='card-body'>
                        <h4 class='card-title'></h4>
                        <p class='card-subtitle mb-4'></p>
                        <table
                            id='state-saving-datatable'
                            class='table activate-select dt-responsive nowrap'
                        >
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Whatsapp</th>
                                    <th>Phone Number</th>
                                    <th>Fleet Brand</th>
                                    <th>Fleet Model</th>
                                    <th>Plate Number</th>
                                    <th>Owner</th>
                                    <th>Orders Completed</th>
                                    <th>CTA (Delete)</th>
                                    <th>CTA (Deactivate)</th>
                                    <th>CTA (View Location)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Sales Assistant</td>
                                    <td>New York</td>
                                    <td>46</td>
                                    <td>2011/12/06</td>
                                    <td>$145,600</td>
                                    <td>Cole</td>
                                    <td>8:30 am 20/05/21</td>
                                    <td>2011/12/06</td>
                                    <td>$145,600</td>
                                    <td><button class='btn btn-danger'>Delete
                                        </button></td>
                                    <td><button
                                            class='btn btn-warning'
                                        >Deactivate </button></td>
                                    <td><button class='btn btn-success'>View
                                            Location</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sales Assistant</td>
                                    <td>New York</td>
                                    <td>46</td>
                                    <td>2011/12/06</td>
                                    <td>$145,600</td>
                                    <td>Cole</td>
                                    <td>8:30 am 20/05/21</td>
                                    <td>2011/12/06</td>
                                    <td>$145,600</td>
                                    <td><button class='btn btn-danger'>Delete
                                        </button></td>
                                    <td><button
                                            class='btn btn-warning'
                                        >Deactivate </button></td>
                                    <td><button class='btn btn-success'>View
                                            Location</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>