<div class='container-fluid'>
    <div class='row'>
        <div class='col-12'>
            <div style='height:80vh;' class='create-order position-relative'>
                <div class='card'>
                    <div class='card-body'>
                        <h4 class='card-title'></h4>
                        <p class='card-subtitle mb-4'></p>
                        <table
                            id='state-saving-datatable'
                            class='table activate-select dt-responsive nowrap'
                        >
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Whatsapp</th>
                                    <th>Phone Number</th>
                                    <th>Fleet Brand</th>
                                    <th>Fleet Model</th>
                                    <th>Fleet Color</th>
                                    <th>Plate Number</th>
                                    <th>Owner</th>
                                    <th>Orders Completed</th>
                                    <th>Delete</th>
                                    <th>Deactivate</th>
                                    <th>View Location</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Joshua Ajayi</td>
                                    <td>ajayijoshua@gmail.com</td>
                                    <td>08123456782</td>
                                    <td>08123456782</td>
                                    <td>Bajaj</td>
                                    <td>B231z</td>
                                    <td>Red</td>
                                    <td>APP2314</td>
                                    <td>Kenny Adio</td>
                                    <td>20</td>
                                    <td><button class='btn btn-danger'>Delete
                                        </button></td>
                                    <td><button
                                            class='btn btn-warning'
                                        >Deactivate </button></td>
                                    <td><button class='btn btn-success'>View
                                            Location</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Tolani Ajayi</td>
                                    <td>tolani@gmail.com</td>
                                    <td>08123456782</td>
                                    <td>08123456782</td>
                                    <td>Suzuki</td>
                                    <td>B231z</td>
                                    <td>Red</td>
                                    <td>APP2314</td>
                                    <td>Tolani Adio</td>
                                    <td>20</td>
                                    <td><button class='btn btn-danger'>Delete
                                        </button></td>
                                    <td><button
                                            class='btn btn-warning'
                                        >Deactivate </button></td>
                                    <td><button class='btn btn-success'>View
                                            Location</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>