<div class='container-fluid'>
    <div class='row'>
        <div class='col-12'>
            <div style='height:80vh;' class='create-order position-relative'>
                <div class='card'>
                    <div class='card-body'>
                        <h4 class='card-title'></h4>
                        <p class='card-subtitle mb-4'></p>
                        <table
                            id='state-saving-datatable'
                            class='table activate-select dt-responsive nowrap'
                        >
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Store Name</th>
                                    <th>Address</th>
                                    <th>Phone Number </th>
                                    <th> Edit </th>
                                    <th> Delete </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Sales Assistant</td>
                                    <td>New York</td>
                                    <td>46</td>
                                    <td><button
                                            class='btn btn-success'
                                        >Edit</button></td>
                                    <td
                                        style='display:block !important;'
                                    ><button
                                            class='btn btn-danger'
                                        >Delete</button></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sales Assistant</td>
                                    <td>New York</td>
                                    <td>46</td>
                                    <td><button
                                            class='btn btn-success'
                                        >Edit</button></td>
                                    <td
                                        style='display:block !important;'
                                    ><button
                                            class='btn btn-danger'
                                        >Delete</button></td>
                                    <td></td>

                                </tr>
                            </tbody>
                        </table>

                        <div
                            class='modal fade bd-example-modal-lg'
                            tabindex='-1'
                            role='dialog'
                            aria-labelledby='myLargeModalLabel'
                            aria-hidden='true'
                        >
                            <div class='modal-dialog modal-lg' role='document'>
                                <div class='modal-content'>
                                    <div class='modal-header'>
                                        <h5
                                            class='modal-title text-center w-100'
                                            id='exampleModalLabel'
                                        >Store List</h5>
                                        <button
                                            type='button'
                                            class='close waves-effect waves-light'
                                            data-dismiss='modal'
                                            aria-label='Close'
                                        >
                                            <span
                                                aria-hidden='true'
                                            >&times;</span>
                                        </button>
                                    </div>
                                    <div class='modal-body'>
                                        <form>
                                            <div class='form-row my-3'>
                                                <div class='col-12'>
                                                    <label
                                                        for='vendorName'
                                                    >Vendor Name</label>
                                                    <input
                                                        type='text'
                                                        class='form-control'
                                                        id='vendorName'
                                                        placeholder='Vendor Name'
                                                        value=''
                                                    />
                                                </div>
                                            </div>
                                            <div class='form-row my-3'>
                                                <div class='col-12'>
                                                    <label for='address'>
                                                        Address</label>
                                                    <input
                                                        type='text'
                                                        class='form-control'
                                                        id='address'
                                                        placeholder='Address'
                                                        value=''
                                                    />
                                                </div>
                                            </div>
                                            <div class='form-row my-3'>
                                                <div class='col-12'>
                                                    <label for='phoneNumber'>
                                                        Phone Number</label>
                                                    <input
                                                        type='text'
                                                        class='form-control'
                                                        id='phoneNumber'
                                                        placeholder='Phone Number'
                                                        value=''
                                                    />
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class='modal-footer'>
                                        <button
                                            type='button'
                                            class='btn btn-secondary waves-effect waves-light'
                                            data-dismiss='modal'
                                        >Close</button>
                                        <button
                                            type='button'
                                            class='btn btn-primary waves-effect waves-light'
                                        >Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button
                    style='border-radius:50%;padding:20px;right:30px;bottom:30px;'
                    class='btn btn-warning waves-effect waves-light position-absolute'
                    data-toggle='modal'
                    data-target='.bd-example-modal-lg'
                >
                    <i class='bx bx-plus bx-2'></i>
                </button>
            </div>
        </div>

    </div>
</div>